<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MorphRiddle</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MorphyFace">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/riddle.js"></script>

    <title>The Riddle</title>
  </head>

  <body>
    <h1>Drondathar Riddle</h1>
    <table>
      <tr>
        <td>
          <div id="view">
            <img id="base" height="500px" width="900px"/>
            <img id="cyan" class="tablet" src="img/cyan.png"/>
            <img id="violet" class="tablet" src="img/violet.png"/>
            <img id="purple" class="tablet" src="img/purple.png"/>
            <img id="red" class="tablet" src="img/red.png"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="input" width="900px" class="textbox">
            <form id="query" autocomplete="off">
              <input id="solution" name="solution" class="empty" width="900px" value="Enter solutions here..."/>
            </form>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="responses" width="900px" class="textbox">
            <span id="record_0"></span><br>
            <span id="record_1"></span><br>
            <span id="record_2"></span><br>
            <span id="record_3"></span><br>
            <span id="record_4"></span><br>
            <span id="record_5"></span><br>
            <span id="record_6"></span><br>
            <span id="record_7"></span><br>
            <span id="record_8"></span><br>
            <span id="record_9"></span><br>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
