<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MorphRiddle</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MorphyFace">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
      // Get location details from python
      var lstat = {{ lstat }};
    </script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/riddle.js"></script>

    <title>The Riddle</title>
  </head>

  <body>
    <h1>Drondathar Riddle</h1>
    <table>
      <tr>
        <td>
          <div id="view">
            <img id="base" height="500px" width="900px"/>
            <img id="cyan" class="tablet" style="top:270px;left:150px;" src="img/cyan.png"/>
            <img id="violet" class="tablet" style="top:320px;left:280px;" src="img/violet.png"/>
            <img id="purple" class="tablet" style="top:370px;left:470px;" src="img/purple.png"/>
            <img id="red" class="tablet" style="top:340px;left:660px;" src="img/red.png"/>
            <div id="cyantab" class="tabbox" style="background-color:#33AFB2">
              <img class="closeicon" src="img/close-icon.png"/>
              <span id="cyantext" class="tabspan">foo</span>
            </div>
            <div id="violettab" class="tabbox" style="background-color:#D331D7">
              <img class="closeicon" src="img/close-icon.png"/>
              <span id="violettext" class="tabspan">foo</span>
            </div>
            <div id="purpletab" class="tabbox" style="background-color:#A446d3">
              <img class="closeicon" src="img/close-icon.png"/>
              <span id="purpletext" class="tabspan">foo</span>
            </div>
            <div id="redtab" class="tabbox" style="background-color:#C8000E;">
              <img class="closeicon" src="img/close-icon.png"/>
              <span id="redtext" class="tabspan">foo</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="input" width="900px" class="textbox">
            <form id="query" autocomplete="off">
              <input id="solution" name="solution" class="empty" width="900px" value="Enter solutions here..."/>
            </form>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="responses" width="900px" class="textbox">
            <span id="record_0">A skeleton sits behind a table with 4 coloured tablets, its arm reaching invitingly toward them.</span><br>
            <span id="record_1">Skeleton> Please, inspect these runes, and tell me what you think any of them refer to...</span><br>
            <span id="record_2"></span><br>
            <span id="record_3"></span><br>
            <span id="record_4"></span><br>
            <span id="record_5"></span><br>
            <span id="record_6"></span><br>
            <span id="record_7"></span><br>
            <span id="record_8"></span><br>
            <span id="record_9"></span><br>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
