<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MorphMaze</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MorphyFace">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script src="js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        document.title = "The Maze";
      });
    </script>
  </head>

  <body>
    <h1>Welcome to Morph Maze!</h1>
    <img src="img/e/crossroads.jpg"/>
    <p style="color:red">You are looking <strong>{{ loc["face"] }}</strong> into <strong>{{ loc["tile"] }}</strong> in zone <strong>{{ loc["zone"] }}</strong></p>
  </body>
</html>
