<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MorphMaze</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MorphyFace">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
      // Get location details from python
      var loc = {{ loc|tojson }}
    </script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/maze.js"></script>

    <title>The Maze</title>
  </head>

  <body>
    <h1>Welcome to Morph Maze!</h1>
    <div id="game">
      <img id="view" />
    </div>
    <p style="color:red">You are looking <strong>{{ loc["face"] }}</strong> into <strong>{{ loc["tile"] }}</strong> in zone <strong>{{ loc["zone"] }}</strong> represented by image <strong>{{ loc["image"] }}</strong></p>
  </body>
</html>
