<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MorphMaze</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MorphyFace">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
      // Get location details from python
      var loc = {{ loc|tojson }}
    </script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/maze.js"></script>

    <title>The Maze</title>
  </head>

  <body>
    <h1>Drondathar Maze</h1>
    <div id="game">
      <table id="control">
        <tr>
          <td></td>
          <td><img id="st" title="W" alt="W"/></td>
          <td></td>
        </tr>
        <tr>
          <td><img id="lt" title="A" alt="A"/></td>
          <td><img id="view" /></td>
          <td><img id="rt" title="D" alt="D"/></td>
        </tr>
        <tr>
          <td></td>
          <td><img id="tn" src="img/Turn.png" title="S" alt="S"/></td>
          <td></td>
        </tr>
    </div>
  </body>
</html>
