<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MorphEscape</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MorphyFace">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/escape.js"></script>

    <title>The Escape</title>
  </head>

  <body>
    <h1>Drondathar Escape</h1>
    <table>
      <tr>
        <td>
          <div id="pic">
            <img id="view" />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="input" width="900px" class="textbox">
            <form id="query" autocomplete="off">
              <input id="command" name="command" class="empty" width="900px" value="Enter command..."/>
            </form>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="responses" width="900px" class="textbox">
            <span id="record_0"></span><br>
            <span id="record_1"></span><br>
            <span id="record_2"></span><br>
            <span id="record_3"></span><br>
            <span id="record_4"></span><br>
            <span id="record_5"></span><br>
            <span id="record_6"></span><br>
            <span id="record_7"></span><br>
            <span id="record_8"></span><br>
            <span id="record_9"></span><br>
            <span id="record_10"></span><br>
            <span id="record_11"></span><br>
            <span id="record_12"></span><br>
            <span id="record_13"></span><br>
            <span id="record_14"></span><br>
            <span id="record_15"></span><br>
            <span id="record_16"></span><br>
            <span id="record_17"></span><br>
            <span id="record_18"></span><br>
            <span id="record_19"></span><br>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
